* {
    padding: 0;
    margin: 0;
    font-family: 'Langar', Arial;
    font-size: 2vw;
    color: #dedede;
}
#wrapperControls {
    margin: 3vh 0 0 0;
    display: flex;
}
#wrapperPlayer {
    width: 100vw;
    height: 100vh;
    background-color: #2b3238;
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 85%;
}
header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 15%;
}
#mediaplayer {
    user-select: none;
    text-align: center;
    box-sizing: border-box;
    background-color: #2b3238;
}
#mediaplayer > div {
    font-size: 5vh !important;
    cursor: pointer;
}
#mediaplayer > div:active {
    color: #4287f5;
    text-shadow: 0 0 1vw #4287f5;
}
#timeline {
    display: block;
    margin: 0 auto;
    width: 96%;
    height: 3vh;
}
#timer {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 1.5vw;
}
#volume {
    user-select: none;
    margin: 0 0 0 2vw;
    display: flex;
    align-items: center;
    height: 3vh;
}
#volMeter {
    width: 10vw;
}
#volMeter:disabled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
#volIcon {
    cursor: pointer;
    font-size: 3.5vh !important;
}
#volIcon:active {
    color: #4287f5;
    text-shadow: 0 0 1vw #4287f5;
}
#queueIcon {
    margin: 0 0 0 2vw;
    cursor: pointer;
    user-select: none;
    font-size: 3.5vh !important;
}
#queueIcon:active {
    color: #4287f5;
    text-shadow: 0 0 1vw #4287f5;
}
.range {
    appearance: none;
    height: 1vh !important;
    outline: none;
    border: none;
    border-radius: 15px;
    opacity: 0.7;
    background-color: #dedede;
    overflow: hidden;
}
.range:hover {
    opacity: 1;
}
.range::-webkit-slider-thumb {
    appearance: none;
    width: 1vh;
    height: 1vh;
    background-color: #425df5;
    box-shadow: -100.25vw 0 0 100vw #4287f5;
}
.range::-moz-range-thumb {
    height: 1vh;
    appearance: none;
    width: 1vh;
    height: 1vh;
    border: none;
    border-radius: 0;
    background-color: #425df5;
}
.range::-moz-range-progress {
    background-color: #4287f5;
    height: 100%;
}
#info {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin: 10vh 0 0 4vh;
    font-size: 3vh;
    width: 96vw;
}
#music {
    background-color: #1c2024;
    cursor: pointer;
    user-select: none;
    margin: 1vw 4vw 1vw 0;
    padding: 0 0 1vw 0;
    border-radius: 0.3vw;
}
#ph {
    margin: 0.5vw;
}
#music > span {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1vw;
}
#music > span:first-of-type {
    font-size: 2vw;
    margin: 0 0 0.5vw 0;
}
#search {
    padding: 0 3vw 0 0;
    display: block;
    height: 3vw;
    width: calc(100% - 3vw);
    color: black;
}
#searchW {
    width: 30%;
    position: relative;
    top: 5vh;
    margin: 0 0 0 4vh;
}
.search {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3vw !important;
    cursor: pointer;
    color: #2b3238;
    user-select: none;
}
.search:active {
    color: #4287f5;
    text-shadow: 0 0 1vw #4287f5;
}
#filterBtn {
    display: inline-block;
    margin: 0.1vw;
    cursor: pointer;
    width: auto;
    user-select: none;
}
#filterBtn:active {
    color: #4287f5;
    text-shadow: 0 0 1vw #4287f5;
}
#filter {
    display:none;
    width:100%;
    padding: 0.5vw;
}
#filter > p {
    margin: 0.1vw;
    cursor: pointer;
    user-select: none;
}
#filter > p:active {
    color: #4287f5;
    text-shadow: 0 0 1vw #4287f5;
}
#crrntInfo {
    width: 50%;
    margin: auto;
    text-align: center;
}
#title {
    display: block;
    margin: 0 auto;
}
#author {
    display: block;
    margin: 0 auto;
    font-size: 1vw;
}